version: '3.8'

services:
  mini-tree-big:
    image: sifnoc/summa-aggregation:latest
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 128M
    ports:
      - "4000:4000"
  mini-tree-small:
    image: sifnoc/summa-aggregation:latest
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 128M
    ports:
      - "4001-4004:4000"
